/*normalizeファイルとは、*/
body {
  margin: 0;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}